.m3-c-cell {
  align-items: center;
  border: 1px dashed #999999;
  display: flex;
  height: 3em;
  justify-content: center;
  line-height: 1;
  width: 3em;
}

.m3-c-cell-claim {
  border: 2px solid #000000;
}
