.m3-c-tilePickerOption {
  background: transparent;
  border: 0;
  height: 10vmin;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 10vmin;
}
  .m3-c-tilePickerOption::after {
    border: 0.25em solid rgba(0, 0, 0, 0.75);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease;
    transition-property: filter, opacity;
    width: 100%;
    z-index: 4;
  }
  .m3-c-tilePickerOption--color {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .m3-c-tilePickerOption--icon {
    filter: grayscale(1);
    font-size: 7.5vmin;
    left: 50%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.25s ease;
    z-index: 2;
  }
  .m3-c-tilePickerOption--label {
    background-color: #000000;
    bottom: 0;
    color: #FFFFFF;
    font-size: 0.75em;
    left: 50%;
    padding: 0.25em 0.5em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translate3d(-50%, 0, 0);
    z-index: 3;
  }

.m3-c-tilePickerOption-disabled {
  filter: grayscale(1);
}

.m3-c-tilePickerOption-selected {}
  .m3-c-tilePickerOption-selected::after {
    opacity: 1;
  }
  .m3-c-tilePickerOption-selected .m3-c-tilePickerOption--icon {
    filter: grayscale(0);
    opacity: 1;
  }
